= form_with model: task, local: true do |f|
  .form-group
    = f.label :title, '任務'
    = f.text_field :title

  .form-group
    = f.label :notes, '備註'
    = f.text_area :notes, cols: 40, rows: 20

  .form-group
    = f.label :start_time, '開始時間'
    = f.datetime_field :start_time

  .form-group
    = f.label :end_time, '結束時間'
    = f.datetime_field :end_time

  = f.submit