= form_with model: task, local: true do |f|
  .form-group
    = f.label :title, i18n_t_form('.name')
    = f.text_field :title

  .form-group
    = f.label :notes, i18n_t_form('.notes')
    = f.text_area :notes, cols: 40, rows: 20

  .form-group
    = f.label :start_time, i18n_t_form('.start_time')
    = f.datetime_field :start_time

  .form-group
    = f.label :end_time, i18n_t_form('.end_time')
    = f.datetime_field :end_time

  = f.submit i18n_t_form(".submit.#{action_name}")