%h1 任務列表
.search
  = form_with url: tasks_path, scope: 'search', remote: false, method: 'get' do |f|
    = f.select(:statuses, options_for_statuses_index)
    = f.select(:sort, options_for_sort)
    = f.search_field(:title, onsearch: true)
    = f.submit t('.submit')
= link_to t('.create_task'), new_task_path
%table 
  %thead 
    %tr
      %td 優先程度
      %td 狀態
      %td 任務
      %td 開始時間
      %td 結束時間
  %tbody 
    - @tasks.each do |task|
      %tr 
        %td 
          = t("tasks.model.priorities.#{task.priority}")
        %td 
          = t("tasks.model.statuses.#{task.status}")
        %td 
          = link_to task.title, task_path(task)
        %td 
          = task.start_time 
        %td 
          = task.end_time
        %td 
          = link_to t('.destroy_task'), task_path(task), method: 'delete', data: {confirm: t('.destroy_check_text')}
= paginate(@tasks)