%h1 
  = @task.title
%h2 
  = "#{@task.start_time} 到 #{@task.end_time}"
.task-content
  = @task.notes
.btn
  = link_to t('tasks.view.return_tasks_list'), tasks_path
  = link_to t('.edit_task'), edit_task_path